# Ignorar entornos virtuales
.venv/
env/

# Ignorar modelos pesados
models/*

# Pero mantener el .gitignore dentro
!models/.gitignore

# Ignorar datos reales
WEB meddocan/
meddocan.zip

# Ignorar outputs pesados
out/
outputs_ner/
out_meddocan_full/
out_real_model_vbest/

# Ignorar compilados y artefactos
*.pyc
__pycache__/

# Ignorar ficheros bat, pruebas, legacy
*.bat
Pruebas/
profiles/

# Ignorar herramientas y experimentos que NO irán al repo
anonim_meddocan_real_*/
anonim_meddocan_pipeline.py
anonim_gui_launcher.py
config.old.cfg
configs/
debug_* 
testarmodelo.bat

# Ignorar artefactos de compilación
build/
dist/
*.exe
*.pkg

